<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>

  <div>
    HOLA TAB 2 MARC
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo minima illum sint recusandae ea. Et dolores totam quos minima veritatis quaerat laboriosam, provident asperiores ratione enim eveniet, nihil illum omnis.
  </div>
</ion-content>
