<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>Hola Tab1!</h1>

  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. A tempora 
    quos quisquam! Dignissimos laudantium aliquam amet debitis ex 
    aperiam blanditiis impedit nam iure delectus ea, earum eos dolore mollitia ut?</div>

    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. A tempora 
      quos quisquam! Dignissimos laudantium aliquam amet debitis ex 
      aperiam blanditiis impedit nam iure delectus ea, earum eos dolore mollitia ut?</div>
  
      <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. A tempora 
        quos quisquam! Dignissimos laudantium aliquam amet debitis ex 
        aperiam blanditiis impedit nam iure delectus ea, earum eos dolore mollitia ut?</div>
    
  <h1>Hola Tab1.1!</h1>

  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. A tempora 
    quos quisquam! Dignissimos laudantium aliquam amet debitis ex 
    aperiam blanditiis impedit nam iure delectus ea, earum eos dolore mollitia ut?</div>

    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. A tempora 
      quos quisquam! Dignissimos laudantium aliquam amet debitis ex 
      aperiam blanditiis impedit nam iure delectus ea, earum eos dolore mollitia ut?</div>
  
      <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. A tempora 
        quos quisquam! Dignissimos laudantium aliquam amet debitis ex 
        aperiam blanditiis impedit nam iure delectus ea, earum eos dolore mollitia ut?</div>
    
    </ion-content>
